<app-header-en></app-header-en>
<main>
    <div class="inner">
        <div class="col-left">
            Loukas A.
        </div>
        <div class="about">
            <img class="me" src="./assets/img/me.png" alt="" />
            <p>
                I am a front-end engineer focused on websites and applications.
            </p>
            I can also help you with my creative design skills and services.
            I am an experienced UX/UI designer specialized on apps and web applications.
            Please, connect with me to find out more about my services.
            I can guide you on your way to online success.
            <br /><a class="contactme" href="mailto:loukas@anastasiou.io">contact me</a>
            <img class="smiley" src="./assets/img/smiley.png" alt="" />
        </div>
    </div>
</main>
<app-footer></app-footer>