<app-header></app-header>
<main>
    <div class="inner">
        <div class="col-left">
            Loukas A.
        </div>
        <div class="about">
            <img class="me" src="./assets/img/me.png" alt="" />
            <p>
                Ich bin auf die Frontend Entwicklung von Websites und Apps fokussiert.
            </p>
            Auch bei der Gestaltung kann ich Ihnen behilflich sein. Ich bin erfahrener 
            UX/UI Designer spezialisiert auf Apps bzw. Web-Applikationen. Bitte, setzen 
            Sie sich in Kontakt um mehr über meine Leistungen zu erfahren. Ich kann Sie 
            zum Online-Erfolg begleiten.
            <br /><a class="contactme" href="mailto:loukas@anastasiou.io">contact me</a>
            <img class="smiley" src="./assets/img/smiley.png" alt="" />
        </div>
    </div>
</main>
<app-footer></app-footer>