<header>
    <div class="inner">
        <img class="logo" src="./assets/img/superman.svg" alt="" />
        <nav>
            <ul>
                <li><a routerLink="/en">Home</a></li>
                <li><a routerLink="/en/about">About</a></li>
                <li><a routerLink="/en/contact">Contact me</a></li>
                <li><a href="https://www.behance.net/loukasanast">Behance</a></li>
                <li><a href="https://www.instagram.com/loukas5844/">Instagram</a></li>
                <li><a routerLink="/">De</a></li>
            </ul>
        </nav>
    </div>
</header>